/* styles.css */

  
  .p-container {
    text-align: left;
  }

  .p-container {
    padding-right: 4em;
    padding-left: 4em;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
  }

  .image-container img {
    width: 400px; 
    height: auto; 
  }

  .constants-Img {
    display: flex;
    justify-content: center;
  }

  .constants-Img img {
    width: 600px; 
    height: auto; 
  }

  pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 5px;
  }

  .p-container pre {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }

  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
  }
  .video-container h2 {
    margin-bottom: 1rem;
  }
  .video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  .video-container video {
    max-width: 50%;
    max-height: 50vh;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }